__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/

data/raw/*
!data/raw/.gitkeep

data/clean/*
!data/clean/.gitkeep

data/panels/*
!data/panels/.gitkeep

output/*
!output/.gitkeep
!output/figures/
!output/tables/

output/figures/*
!output/figures/.gitkeep

output/tables/*
!output/tables/.gitkeep